[submodule "modules/Plack"]
	path = modules/Plack
	url = git://github.com/miyagawa/Plack.git
[submodule "modules/Hash-MultiValue"]
	path = modules/Hash-MultiValue
	url = git://github.com/miyagawa/Hash-MultiValue.git
[submodule "modules/DBIx-Skinny"]
	path = modules/DBIx-Skinny
	url = git://github.com/nekokak/p5-dbix-skinny.git
[submodule "modules/Text-HatenaX"]
	path = modules/Text-HatenaX
	url = git://github.com/cho45/Text-HatenaX.git
