
html,
body {
	font-family: 'Optima', serif;
	background: #efefef;
	color: #111;
}

a:link {
	color: #406c7f;
}

a:visited {
	color: #405a7f;
}

a:hover {
	text-decoration: none;
}

abbr {
	text-decoration: none;
	border: none;
}

#top {
	padding: 1em 0;
}

#top a:link,
#top a:visited {
	color: #000;
	text-decoration: none;
}

#whole {
	max-width: 100%;
	width: 70em;
	margin: 0 auto;
}

#recent {
	line-height: 1.33;
	width: 30em;
	font-size: 90%;
	background: #fff;
	-moz-border-radius: 1em;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 1em;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 1em;
	margin: -8em 0em 5em 0;
	float: right;
}

#recent h2 {
	font-size: 100%;
	margin: 0;
	padding: 0em 1em 0 1em;
}

#recent ul {
	list-style: none;
	margin: 0;
	padding: 1em 1em 1em 1em;
}

#recent ul li {
	height: 1.33em;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#content {
}

.hentry {
	background: #fff;
	-moz-border-radius: 1em;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 1em;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 2em;
	margin: 3em 0 5em 0;
}

.hentry a[rel="bookmark"] {
	text-decoration: none;
}

.hentry .entry-title {
	padding: 0 0.5em;
}


.hentry h2 {
	margin: 1em 0 2em 0;
}

.hentry .entry-info {
	font-size: 90%;
	padding: 2em 0 0;
}

.pager {
	text-align: center;
	margin: 5em 0;
}

.pager a {
	display: inline-block;
	margin: 1em;
	padding: 1em 2em;
}

#footer {
	text-align: center;
}

#admin {
	text-align: right;
}

.admin {
	font-size: 70%;
	font-weight: normal;
	text-decoration: none;
	padding: 1em;
}
