<% my $entry = $ARGS{entry} || $r->stash->{entry}; %>
<div class="hentry">
	<h2>
		<a href="<%= $r->uri_for('/' . $entry->id) %>" rel="bookmark">#<%= $entry->id %></a>
		<span class="entry-title"><%= $entry->title %></span>
	</h2>
	<div class="entry-content">
		<%raw= $entry->formatted_body %>
	</div>
	<div class="entry-info">
		posted by
		<span class="author vcard">
			<span class="fn nickname">cho45</span>
		</span>
		at
		<abbr class="published" title="<%= $entry->created_at %>Z"><%= $entry->ambtime('created_at') %></abbr>
		, updated at
		<abbr class="updated" title="<%= $entry->modified_at %>Z"><%= $entry->ambtime('modified_at') %></abbr>

		<span class="star-container"></span>

		<% if ($entry->tags) { %>
		<ul class="tags">
			<% for my $tag (@{ $entry->tags }) { %>
			<li><a href="<%= $r->uri_for("/$tag/") %>" rel="tag"><%= $tag %></a></li>
			<% } %>
		</ul>
		<% } %>
	</div>
</div>
