<%& $r->config->root->file('templates', '_header.html') %>

<div id="content">

	<div class="hfeed">
		<% for my $entry (@{ $r->stash->{entries} }) { %>
		<div class="hentry">
			<h2>
				<a href="<%= $r->uri_for('/' . $entry->id) %>" rel="bookmark">#<%= $entry->id %></a>
				<span class="entry-title"><%= $entry->title %></span>
			</h2>
			<div class="entry-content">
				<%raw= $entry->formatted_body %>
			</div>
			<div class="entry-info">
				posted by
				<span class="author vcard">
					<span class="fn nickname">cho45</span>
				</span>
				at
				<abbr class="published" title="<%= $entry->created_at %>Z"><%= $entry->created_at %>Z</abbr>
				, updated at
				<abbr class="updated" title="<%= $entry->modified_at %>Z"><%= $entry->modified_at %>Z</abbr>

				<ul class="tags">
					<% for my $tag (@{ $entry->tags }) { %>
					<li><a href="<%= $r->uri_for("/$tag/") %>" rel="tag"><%= $tag %></a></li>
					<% } %>
				</ul>
			</div>
		</div>
		<% } %>
	</div>

</div>

<% if ($r->login) { %>
<form action="<%= $r->uri_for('/api/post') %>" method="post">
	<dl>
		<dt>タイトル</dt>
		<dd><input type="text" name="title" /></dd>
		<dt>本文</dt>
		<dd><textarea name="body" cols="50" rows="10"></textarea></dd>
	</dl>
	<p>
		<input type="hidden" name="rks" value="<%= $r->rks %>"/>
		<input type="submit" value="post"/>
	</p>
</form>
<% } %>

<%& $r->config->root->file('templates', '_footer.html') %>
