<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Niro*</title>
		<link rel="stylesheet" type="text/css" href="/base.css" media="screen,tv"/>
		<link rel="stylesheet" type="text/css" href="/site.css" media="screen,tv,projection" title="site"/>
		<link rel="meta" type="application/rdf+xml" title="FOAF" href="http://lowreal.net/cho45/foaf"/>
		<link rev="made" href="mailto:cho45@lowreal.net"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

		<!-- <script type="text/javascript" src="/site-script.js"></script> -->
	</head>
	<body>
		<div id="whole">
			<h1 id="top"><a href="/">Niro*</a></h1>

			<div id="content">
				<% for my $entry (@{ $r->stash->{entries} }) { %>
				<div class="entry">
					<h2><%= $entry->title %></h2>
					<div class="body">
						<%raw= $entry->formatted_body %>
					</div>
				</div>
				<% } %>
			</div>

			<% if ($r->login) { %>
			<form action="<%= $r->uri_for('/api/post') %>" method="post">
				<dl>
					<dt>Title</dt>
					<dd><input type="text" name="title" /></dd>
					<dt>Body</dt>
					<dd><textarea name="body" cols="50" rows="10"></textarea></dd>
				</dl>
				<p>
					<input type="hidden" name="rks" value="<%= $r->rks %>"/>
					<input type="submit" value="post"/>
				</p>
			</form>
			<% } %>

			<div id="footer">
				<% if ($r->login) { %>
				<a href="<%= $r->uri_for('/logout') %>">logged-in</a>
				<% } else { %>
				<a href="<%= $r->uri_for('/login') %>">login</a>
				<% } %>
				<address>2010 <a href="mailto:cho45@lowreal.net">cho45@lowreal.net</a></address>
			</div>
		</div>
	</body>
</html>
